@{
    ViewBag.Title = "O žderku";
}

<br/>
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <p class="well well-sm">Žderko je web stranica za online narudžbe hrane i pića na području Zagreba i okolice. Sustav omogućuje registraciju za ugostiteljske objekte (restorane) koji nude jela i obične korisnike. Svaki restoran u sustavu dostavlja hranu na adresu koju korisnik unese.</p>
    </div>
</div>