@{
    ViewBag.Title = "Kontakt";
}

<br/>
<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-6">
        <address>
            Gundulićeva 26<br />
            10000 Zagreb<br />
            <abbr title="Phone">P:</abbr>
            01 / 1330 232
        </address>

        <address>
            <strong>Korisnička podrška:</strong>   <a href="mailto:Support@example.com">Support@zderko.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@zderko.com</a>
        </address>
    </div>

    <div class="col-md-6">
        <iframe src="//www.google.com/maps/embed/v1/place?q=Gundulićeva+ul.+26,+10000,+Zagreb/
      &zoom=17
      &key=AIzaSyBpTDfNDgB8BaIZiSj19PSJeqgvFnXL6Vg" width="500" height="300"></iframe>
    </div>
</div>
