@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron burger">
    <h1>žderko</h1>
    <p class="lead">Naruči hranu - brzo i jednostavno.</p>
    <p><a href="https://asp.net" class="btn btn-danger btn-lg">Saznaj više &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Više od 50 restorana</h2>
        <p>
            Svaki restoran nudi raznovrsnu i bogatu ponudu jela.
        </p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301865">Pretraži restorane &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dostava na kućni prag</h2>
        <p><b>žderko</b> može odrediti Vašu adresu za dostavu ili je možete sami upisati.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Pretraži hranu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plaćanje pouzećem ili kartično.</h2>
        <p>Primamo Maestro i MasterCard.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saznaj više &raquo;</a></p>
    </div>
</div>